@model List<MessageModel>

@{
    Layout = "~/Views/Home/Layout.cshtml";
    var title = "Public Timeline";
    @* var isUserAuthenticated = User.Identity.IsAuthenticated; *@
}

<body>
    <h2>@title</h2>
    @* @if (isUserAuthenticated)
    {
    <div class="twitbox">
    <h3>What's on your mind, @User.Identity.Name?</h3>
    <form action="@Url.Action("AddMessage", "Home")" method="post">
    <p><input type="text" name="text" size="60"><input type="submit" value="Share"></p>
    </form>
    </div>
    } *@

    <ul class="messages">
        @foreach (var message in Model)
    {
        var gravatarUrl = $"https://www.gravatar.com/avatar/{message.Email}?s=48";
        var userProfileUrl = $"~/user_timeline?username={message.Username}";

        <li>
            <img src="@gravatarUrl" alt="Gravatar">
            <p>
                <strong><a href="@userProfileUrl">@message.Username</a></strong>
                @message.Text
                <small>&mdash; @DateTimeOffset.FromUnixTimeSeconds(message.PubDate).ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</small>
            </p>
        </li>
    }
        @* @if (!Model.Any())
        {
        <li><em>There's no message so far.</em></li>
        } *@
    </ul>
</body>
