@model List<MessageModel>
    @using csharp_minitwit.Utils;

@{
    Layout = "~/Views/Home/Layout.cshtml";
    var title = "Public Timeline";
    @* var isUserAuthenticated = User.Identity.IsAuthenticated; *@
}

<body>
    <h2>@title</h2>
    @* // TODO: when register and login functionalities are working, add conditional rendering.
    @if (isUserAuthenticated)
    { *@
    <div class="twitbox">
    <h3>What's on your mind, @User.Identity.Name?</h3>
    <form action="/add_message" method="post">
    <p><input type="text" name="text" size="60"><input type="submit" value="Share"></p>
    </form>
    </div>
    @* } *@

    <ul class="messages">
        @foreach (var message in Model)
    {
        var gravatarUrl = GravatarHelper.GetGravatarUrl(message.Email, 48);
        var userProfileUrl = $"/{message.Username}";

        <li>
            <img src="@gravatarUrl" alt="Gravatar">
            <p>
                <strong><a href="@userProfileUrl">@message.Username</a></strong>
                @message.Text
                <small>&mdash; @DateTimeOffset.FromUnixTimeSeconds(message.PubDate).ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</small>
            </p>
        </li>
    }
    </ul>
</body>
