@inject IHttpContextAccessor ContextAccessor

@{
    ViewData["Title"] = "Timeline";
}

<h2>
    @{
        if (ContextAccessor.HttpContext.Request.RouteValues["endpoint"] == "public_timeline")
        {
            <text>Public Timeline</text>
        }
        else if ((string)ContextAccessor.HttpContext.Request.RouteValues["endpoint"] == "user_timeline")
        {
            <text>@Model.ProfileUser.Username's Timeline</text>
        }
        else
        {
            <text>My Timeline</text>
        }
    }
</h2>

@if (User.Identity.IsAuthenticated)
{
    @if (ContextAccessor.HttpContext.Request.RouteValues["endpoint"] == "user_timeline")
    {
        <div class="followstatus">
            @using System.Security.Claims

            @if (User.FindFirstValue("Id") == Model.ProfileUser.UserId.ToString())
            {
                <text>This is you!</text>
            }
            else if (Model.Followed)
            {
                <text>You are currently following this user.
                    <a class="unfollow" href="@Url.Action("UnfollowUser", new { username = Model.ProfileUser.Username })">Unfollow user</a>.
                </text>
            }
            else
            {
                <text>You are not yet following this user.
                    <a class="follow" href="@Url.Action("FollowUser", new { username = Model.ProfileUser.Username })">Follow user</a>.
                </text>
            }
        </div>
    }
    else if (ContextAccessor.HttpContext.Request.RouteValues["endpoint"] == "timeline")
    {
        <div class="twitbox">
            <h3>What's on your mind @User.Identity.Name?</h3>
            <form asp-action="AddMessage" method="post">
                <p><input type="text" name="text" size="60" /><!--
                    --><input type="submit" value="Share" /></p>
            </form>
        </div>
    }
}

<ul class="messages">
    @foreach (var message in Model.Messages)
    {
        <li>
            <img src="@Url.Action("Gravatar", new { size = 48, email = message.Email })" />
            <p>
                <strong><a href="@Url.Action("UserTimeline", new { username = message.Username })">@message.Username</a></strong>
                @message.Text
                <small>&mdash; @message.PubDate.ToString("yyyy-MM-dd HH:mm:ss")</small>
            </p>
        </li>
    }
</ul>
